<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="browserType" value="remote-chrome"/>
		<add key="pageLoadTimeout" value="90"/>
		<add key="elementDetectionTimeout" value="5"/>
		<add key="baseUrl" value="http://demo.guru99.com/v4"/>
	</appSettings>
</configuration>